<% if flash[:success] %>
  <div class="top-0 right-1 z-60 absolute">
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded flex items-center flash-message" role="alert">
      <span class="block sm:inline"><%= flash[:success] %></span>
  </div>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="top-0 right-1 z-60 absolute h-screen">
    <div class="bg-orange-100 border border-orange-400 text-orange-700 px-4 py-3 rounded flex items-center flash-message" role="alert">
      <span class="block sm:inline"><%= flash[:info] %></span>
  </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="top-0 right-1 z-60 absolute h-screen">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded flex items-center flash-message" role="alert">
      <span class="block sm:inline"><%= flash[:alert] %></span>
  </div>
  </div>
<% end %>

<script>
window.setTimeout(function() {
  var flashMessages = document.querySelectorAll('.flash-message');
  flashMessages.forEach(function(flashMessage) {
    flashMessage.style.display = 'none';
  });}, 5000);
</script>
