<%= form_for @sale, url: item_sales_path(@item) do |f| %>
  <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
    <%= f.hidden_field :item_id, value: @item.id %>
    <div>
      <%= f.text_field :sale_price, class:"w-full px-2 py-2 text-gray-700 bg-gray-200 rounded", placeholder: "Sale price" %>
    </div>
  </div>
   <div class="flex justify-center mt-6">
    <%= f.submit "Submit", class:"px-4 py-2 text-gray-200 bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700" %>
  </div>
<% end %>
