<%= form_for @sale, url: item_sales_path(@item) do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <div class="field">
    <%= f.label :price %>
  </div>
  <!-- More form fields go here -->
<% end %>
