<div class="flex justify-between">
    <% if user_signed_in? %>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory
    <%= current_user.email %> 🎉</h3>
    <%else%>
    <h3 class="text-3xl font-medium text-slate-800">Welcome to your inventory 🎉</h3>
    <% end %>
    <a href="/shoes/new">
      <button class="px-4 py-2 font-medium tracking-wide text-white transition-colors duration-200 transform bg-slate-800 rounded-md hover:bg-slate-700 focus:outline-none focus:bg-indigo-500">
        Add an item
      </button>
    </a>
  </div>
